* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(253, 137, 5, 0.267);
    font-weight: 300;
}

body h1 h2 h3 {
    font-weight:700;
}

#highscores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 60, 0);

}