* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}
/* important variables used and changed throughout the stylesheet */
:root {
    --tan:rgba(253, 137, 5, 0.267);
    --orange:rgb(255, 60, 0);
    --hover:rgb(255, 230, 0);
}
body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--tan);
    font-weight: 300;
}
/* flex properties added to the body and nav */

body h1 h2 h3 {
    font-weight:700;
}

nav {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-weight: 300;
}


#highscores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--orange);
    
}

#highscores:hover {
    background-color: var(--hover);
    cursor: pointer;
}
#question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-weight: 300;
}

#main-button {
    background-color: var(--orange);
}

#main-button:hover {
    background-color: var(--hover);
    cursor: pointer;
}

/* hover properties added to the two buttons, hovering will
    now change the color as well as the cursor */
#question-title {
    width: 100%;
    text-align: left;
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
  
  #question-content {
    height:100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    width: 100%;
  }
  
  #answer1 #answer2 #answer3 #answer4  {
    visibility: hidden;
    background-color: var(--orange);
  }